<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mediaplayer" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>player</name>
    <js-module name="MediaPlayer" src="www/mediaplayer.js">
        <clobbers target="cordova.plugins.mediaplayer"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MediaPlayer">
                <param name="android-package" value="com.cordova.plugins.mediaplayer.PlayerHandler"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
                     android:process=":player"/>
        </config-file>

        <source-file src="src/android/PlayerHandler.java" target-dir="src/com/cordova/plugins/mediaplayer/"/>

        <lib-file src="src/android/TingPhoneOpenSDK_5.6.12.jar"/>

        <resource-file src="src/android/armeabi/libmediadatacryto.so" target="jniLibs/armeabi/libmediadatacryto.so"/>
        <resource-file src="src/android/armeabi/libsoundtouch.so" target="jniLibs/armeabi/libsoundtouch.so"/>
        <resource-file src="src/android/armeabi/libxmediaplayer.so" target="jniLibs/armeabi/libxmediaplayer.so"/>
        <resource-file src="src/android/armeabi/libxmopendatacrypto.so" target="jniLibs/armeabi/libxmopendatacrypto.so"/>

        <resource-file src="src/android/armeabi/libmediadatacryto.so" target="jniLibs/armeabi-v7a/libmediadatacryto.so"/>
        <resource-file src="src/android/armeabi/libsoundtouch.so" target="jniLibs/armeabi-v7a/libsoundtouch.so"/>
        <resource-file src="src/android/armeabi/libxmediaplayerv7.so" target="jniLibs/armeabi-v7a/libxmediaplayerv7.so"/>
        <resource-file src="src/android/armeabi/libxmopendatacrypto.so" target="jniLibs/armeabi-v7a/libxmopendatacrypto.so"/>

    </platform>
</plugin>